<h1>Adopt Don't Shop</h1></b>
<h2>Shelters in the Denver Area</h2></b>
<% @shelters.each do |shelter| %>
  <p>Name: <%= shelter.name %></p>
  <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit", method: :get %>
<% end %></b>
<h4><%= link_to 'New Shelter', '/shelters/new' %></h4>
